.menu-whole{
    width: 80%;
    margin: auto;
 }
 
 .menu_category{
     
     margin: 40px 0;
 }
 
 .category_heading{
     font-size: 1.6em;
     line-height: 1.3;
     font-weight: 500;
     color: black;
     margin-bottom: .5em;
 }
 
 .category_options{
     display: flex;
     flex-wrap: wrap;
     
 }
 
 .option{
     border: 1px solid #e0e0e0;
     border-radius: 4px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, .08);
     box-sizing: border-box;
     display: flex;
     flex: 30%;
     height: 100%;
     transition: border .2s;
     width: 100%;
     margin-top: 15px;
     margin-right: 15px;
     cursor: pointer;
     max-width: 32%;
     max-height: 200px;
     min-height:130px;
     
   
 }
 
 .details{
     display: flex;
     flex-direction: column;
     padding: 15px 15px 5px;
     position:relative;
     width: 100%;
 
 }
 
 .titleplusprice{
     display: flex;
     justify-content: space-between;
     gap: 10px;
 }
 
 .titleplusprice h3{
     flex-grow: 2;
     font-weight: 500;
     color: #333;
     font-size: 0.95em;
     line-height: 1.2;
 }
 
 .option p{
     color: #949494;
     font-size: .85em;
     line-height: 1.5;
     margin-top: 5px;
     overflow: hidden;
 
 }
 
 .title{
    max-width: 75%;
   
 }
 
 .price{
     position: absolute;
     top: 15px;
     right: 10px;
     line-height: 1.2;
 }
 
 .d{
     border: 1px solid #e0e0e0;
     border-radius: 4px;
     box-shadow: 1px 1px 5px rgba(0, 0, 0, .08);
     box-sizing: border-box;
     display: flex;
     flex: 30%;
     height: 100%;
     transition: border .2s;
     width: 100%;
     margin-top: 15px;
     margin-right: 15px;
     cursor: pointer;
     max-width: 32%;
     max-height: 100px;
     min-height:60px;
 }
  
 
 