.footer{
    background-color: #1f2b06;
    padding: 10px 0 15px;
    font-size: .9em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
    padding-bottom: 25px;
    
}


.copyright{
    padding: 10px 0 15px;
    font-size: 1em;
    color: rgba(255, 255, 255, .5);
}

.container{
    display: flex;
    justify-content: center; align-items: center;
    gap: 0.5em;
    
}

.payment_container{
    background-color:#2d3d09;
    height: 30px; width: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.payment_container img{
    filter:brightness(75%);
    transition: ease 0.2s;
    
}


.payment_container img:hover{
    filter: brightness(100%);
}